/**************************************
            IPAD PORTRAIT
**************************************/
@media only screen and (max-device-width: 1024px) and (orientation: portrait),
(max-width: 560px) {
  * {
    color: red;
    /* font-size: 1rem; */
  }
}

/**************************************
            IPAD PRO PORTRAIT
**************************************/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    * {
        color: blue;
        /* font-size: 1.1rem; */
    }
}

/**************************************
           MOBILE LANDSCAPE
**************************************/
@media only screen and (max-device-width: 414px),
(max-device-width: 823px) and (orientation: landscape),
(max-width: 950px) and (orientation: landscape) {

  * {
        color: green;
        /* font-size: 0.5rem; */
    }
}

/**************************************
            MOBILE PORTAIT
**************************************/
@media only screen and (max-device-width: 568px),
(max-width: 700px) {
    * {
        color: purple;
        /* font-size: 0.5rem; */
    }
    .ProductName {
      font-size: 1.2rem;
    }
    .productPrice {
      font-size: 1rem;
    }
}
