/**************************************
              SMALL TABLETS
**************************************/

/* small tablets to 768 pixels */
@media only screen and (min-width: 320px) {
  /* .media h2, h4 {
    font-size: 1rem;
  }
  .media p {
    font-size: 0.7rem;
  }
  .detailsImages img {
    height: 10vh;
    margin-left: 2rem;
    margin-top: 19vh;
  }
  .total {
    font-size: .8rem;
  }
  .checkoutBtn {
    /* height: 6vh; */
  /* } */
}

/**************************************
              BIG TABLETS
**************************************/

/* big tablets to 1024 pixels */
@media only screen and (min-width: 768px) {
  /* .media h2, h4 {
    font-size: 2rem;
  } */
  /* .media h4 {
    font-size: 1.5rem;
  } */
  /* .media p {
    font-size: 1.1rem;
  }
  .detailsImages img {
    height: 10vh;
    margin-left: 2rem;
    margin-top: 19vh;
  }
  .total {
    font-size: .8rem;
  }
  .checkoutBtn {
    /* height: 6vh; */
  /* } */
}

/**************************************
        DESKTOP/LAPTOP TABLETS
**************************************/

@media only screen and (min-width: 1025px) {
/* laptops/desktop */
  /* .media h2 {
    font-size: 2rem;
  } */
  /* .media h4 {
    font-size: 1.5rem;
  } */
  /* .media p {
    font-size: 1.1rem;
  }
  .detailsImages img {
    height: 10vh;
    margin-left: 2rem;
    margin-top: 19vh;
  }
  .total {
    font-size: .8rem;
  }
  .checkoutBtn {
    /* height: 4vh; */
  /* }  */
}
/*
@media only screen and (min-width: 1400px) {
  /* .media h2 {
    font-size: 2rem;
  } */
  /* .media h4 {
    font-size: 1.5rem;
  } */
  /* .media p {
    font-size: 1.1rem;
  }
  .detailsImages img {
    height: 10vh;
    margin-left: 2rem;
    margin-top: 19vh;
  }
  .total {
    font-size: .8rem;
  }
  .checkoutBtn {
    /* height: 4vh; */
  /* }  */
/* } */
/**************************************
        MOBILE LANDSCAPE
**************************************/
/*
@media only screen
and (max-width: 823px)
and (max-height: 414px)
and (orientation: landscape) {
  .hovereffect h3 {
    font-size: 2.5rem;
  }
} */
